p {
    font-family: 'Lumanosimo', 'Lucida Sans Unicode', 'Lucida Grande';
    color: rgb(106, 53, 113);
}
a{
    color:rgb(15,115,105);
    text-decoration:solid ;
}
a :hover {
    text-decoration: underline;
}
#todays-chalange{
    color:blue;
    font-weight: 300;
    font-size: larger;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
body{
    text-align: center;
    background-color: rgb(228, 214, 228);
    margin:50px;
}