body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
  }
  
  #page-logo a {
    padding: 10px;
    font-family: "Oleo Script", sans-serif;
    color: rgb(166, 39, 185);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
  
  header ul {
    display: flex;
  }
  
  header li {
    margin-left: 20px;
  }
  header a{
    color:rgb(201, 216, 64);
    text-align: none;
    font-size: 20px;
    padding: 12px;
    text-shadow: 1px 1px 1px rgb(0,0,0,0.2,);

  }
  header a:hover{
    color:blue;
    background-color: rgb(220, 101, 194);
  }