#container{
    background-color: rgb(107, 9, 81);
    padding: 10px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p{
    background-color: rgb(226, 43, 162);

    margin: 10px;
    width: 250px;
}
ul{
    background-color: rgb(224, 66, 9);
    list-style: none;width: 250px;
    margin: 10px;
    padding: 0;
}
li{
    background-color: rgb(195, 129, 169);
    width: 100px;
}